.bottom-links {
    width:100%;
    background-color:rgba(0, 0, 0,0.1);
    display: flex;
    
}
.np  ul  {
    list-style: none;
    
}
.np ul li a{
    color:black;
    text-decoration: none;
}
@media screen  and (max-width:1003px) {
    .bottom-links{
        display: block!important;
        width:50%;
        background-color: rgba(0, 0,0,0.1);
    
    }
        
        
}
